name: Build master

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16.1'
      - name: ghcr Docker Login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.REPO_USER }}
          password: ${{ secrets.CR_PAT }}
      - name: Docker Hub Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Run build & push
        run: |
          make docker/build
          make docker/push
      - name: Zip Project
        run: zip -r ${GITHUB_REPOSITORY#*/}.zip .
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: Copying repository zipfile to AWS S3
        run: |
          aws s3 cp ${GITHUB_REPOSITORY#*/}.zip s3://${{ secrets.AWS_S3_ARCHIVE_BUCKET }}/${GITHUB_REPOSITORY#*/}/${GITHUB_REPOSITORY#*/}.zip
